body {
    background-color: #E5E7EB;
    font-family: sans-serif;
}

.header {
    background-color: #FFF;
    width: auto;
}

.title-header {
    color: #0994DC;
}

.top-header span{
    color: #858585;
}

.top-header a{
    text-decoration: none;
    color: #616060;
}

.top-header a:hover{
    color: #2c2c2c;
    font-size: 20px;
}

.bottom-header {
    border-top: 1px solid #070707;
}

.bottom-header a{
    text-decoration: none;
    color: #616060;
}

.bottom-header a:hover{
    color: #222121;
    font-size: 20px;
}

.topics a {
    color: #0994DC;
    text-decoration: none;
}

.topics a:hover {
    color: #065881;
    font-size: 20px;
}

.news-title {
    font-size: 40px;
}

.aside-section {
    background-color: #F2F2F2;
}