body {
    background-color: green;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.rick img{
    width: 100%;
    max-height: 400px;
}

.morty img{
    width: 100%;
    max-height: 400px;
}

header {
    max-width: 100%;
    background-color: orange;
    max-height: 100%;
    padding: 100px;
}

.title-header {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 70px;
    color: white;
    background-color: cornflowerblue;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 0;
    appearance: button;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
}

button:active {
    background-color: royalblue;
    transform: scale(0.97);
}